Connected Services/CadsusService/v5r016.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/msfalha" xmlns:mensagem="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/mensagem" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/msfalha" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://servicoshm.saude.gov.br/cadsus/CadsusService/v5r0?WSDL&amp;type=XSD&amp;file=schema%3A4215a726-eae8-42b7-88c3-c14ceda19eab" id="mensagem" namespace="http://servicos.saude.gov.br/wsdl/mensageria/falha/v5r0/mensagem">
    <xs:annotation>
      <xs:documentation><![CDATA[ O objeto corresponde as mensagens padronizadas de
				retorno. Exemplo: Toda e
				qualquer mensagem que retornara para
				a acao
				solicitada, este objeto servira como base para
				apresentar o codigo da
				mensagem e se necessario a descricao da mensagem.
				]]></xs:documentation>
    </xs:annotation>
  </xs:import>
  <xs:annotation>
    <xs:documentation><![CDATA[ Objeto de tratamento de falhas que podem ocorrer nas
			diversas chamadas aos
			servicos do Ministerio da Saude.
			Exemplo: Toda e
			qualquer solicitacao pode ocorrer uma falha na
			aplicacao, ou seja, o
			seu retorno estara comprometido e sera
			preenchido este objeto com a
			informacao, codigo e descricao da falha.
			]]></xs:documentation>
  </xs:annotation>
  <xs:element name="MSFalha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="identificador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Mensagem" type="mensagem:MensagemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>