Connected Services/CadsusService/v5r032.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://servicos.saude.gov.br/schema/corporativo/endereco/v1r1/cep" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/corporativo/endereco/v1r1/cep" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation><![CDATA[Este esquema representa o CEP. Ex: 70000000 (sem formatacao)]]></xs:documentation>
  </xs:annotation>
  <xs:element name="CEP" type="CEPType" />
  <xs:complexType name="CEPType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="numeroCEP">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation><![CDATA[Este esquema representa o CEP. Ex: 70000000 (sem formatacao)]]></xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="8" />
            <xs:maxLength value="8" />
            <xs:pattern value="[0-9]*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>