Connected Services/CadsusService/v5r08.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://servicos.saude.gov.br/schema/cadsus/v1r0/protocoloprecadastro" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/cadsus/v1r0/protocoloprecadastro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation><![CDATA[Este esquema representa o Protocolo para o pré-cadastro do usuario do SUS.]]></xs:documentation>
  </xs:annotation>
  <xs:element name="ProtocoloPreCadastro" type="ProtocoloPreCadastroType" />
  <xs:complexType name="ProtocoloPreCadastroType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="numeroProtocolo">
        <xs:annotation>
          <xs:documentation><![CDATA[Número do Protocolo do pré-cadastro do usuario do SUS.]]></xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="13" />
            <xs:maxLength value="13" />
            <xs:pattern value="[0-9]*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>