Connected Services/CadsusService/v5r043.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:orgaoemissor="http://servicos.saude.gov.br/schema/corporativo/documento/v1r2/orgaoemissor" xmlns="http://servicos.saude.gov.br/schema/corporativo/documento/v1r1/identidade" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/corporativo/documento/v1r1/identidade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://servicoshm.saude.gov.br/cadsus/CadsusService/v5r0?WSDL&amp;type=XSD&amp;file=schema%3Ad4b0ac49-8770-4637-95a7-6ed4344847df" id="orgaoemissor" namespace="http://servicos.saude.gov.br/schema/corporativo/documento/v1r2/orgaoemissor">
    <xs:annotation>
      <xs:documentation><![CDATA[
				Importacao do metadado orgao emissor. Ex:
				Secretaria de Seguranca Publica,
				Conselho Regional de Quimica etc.
			]]></xs:documentation>
    </xs:annotation>
  </xs:import>
  <xs:annotation>
    <xs:documentation><![CDATA[Este esquema representa o documento de identidade.
		]]></xs:documentation>
  </xs:annotation>
  <xs:element name="Identidade" type="IdentidadeType" />
  <xs:complexType name="IdentidadeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="identificador" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation><![CDATA[Código de identificação.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="numeroIdentidade">
        <xs:annotation>
          <xs:documentation><![CDATA[Numero do documento de identidade.]]></xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="15" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dataExpedicao" type="xs:date">
        <xs:annotation>
          <xs:documentation><![CDATA[Data de expedicao do documento de identidade.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OrgaoEmissor" type="orgaoemissor:OrgaoEmissorType">
        <xs:annotation>
          <xs:documentation><![CDATA[Orgao emissor do documento de identidade.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="siglaUF" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Sigla da Unidade da Federacao que emitiu o documento de identidade]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>