Connected Services/AuditoriaCadsusService/v5r045.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://servicos.saude.gov.br/schema/corporativo/telefone/v1r2/telefone" xmlns:tipotelefone="http://servicos.saude.gov.br/schema/corporativo/telefone/v1r1/tipotelefone" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/corporativo/telefone/v1r2/telefone" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://servicoshm.saude.gov.br/cadsus/AuditoriaCadsusService/v5r0?WSDL&amp;type=XSD&amp;file=schema%3A30daae04-b8bd-4dd7-b305-6d071ad19ac7" id="tipotelefone" namespace="http://servicos.saude.gov.br/schema/corporativo/telefone/v1r1/tipotelefone" />
  <xs:annotation>
    <xs:documentation><![CDATA[Este esquema representa numero de telefone.]]></xs:documentation>
  </xs:annotation>
  <xs:element name="Telefone" type="TelefoneType" />
  <xs:complexType name="TelefoneType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="identificador" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation><![CDATA[Código de identificação.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TipoTelefone" type="tipotelefone:TipoTelefoneType">
        <xs:annotation>
          <xs:documentation><![CDATA[Tipo de telefone.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DDI">
        <xs:annotation>
          <xs:documentation><![CDATA[DDI do telefone.]]></xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:nonNegativeInteger">
            <xs:maxInclusive value="999" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DDD">
        <xs:annotation>
          <xs:documentation><![CDATA[DDD do telefone.]]></xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:nonNegativeInteger">
            <xs:maxInclusive value="99" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="numeroTelefone">
        <xs:annotation>
          <xs:documentation><![CDATA[Numero do telefone.]]></xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:nonNegativeInteger">
            <xs:maxInclusive value="999999999" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>