Connected Services/AuditoriaCadsusService/v5r0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://servicos.saude.gov.br/schema/corporativo/documento/certidao/v1r1/certidoes" xmlns:certidao="http://servicos.saude.gov.br/schema/corporativo/documento/certidao/v1r2/certidao" xmlns:certidaoantiga="http://servicos.saude.gov.br/schema/corporativo/documento/certidao/v1r1/certidaoantiga" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/corporativo/documento/certidao/v1r1/certidoes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://servicoshm.saude.gov.br/cadsus/AuditoriaCadsusService/v5r0?WSDL&amp;type=XSD&amp;file=schema%3A74fd2b2f-06f7-491f-8358-c26e11f77401" id="certidao" namespace="http://servicos.saude.gov.br/schema/corporativo/documento/certidao/v1r2/certidao" />
  <xs:import schemaLocation="https://servicoshm.saude.gov.br/cadsus/AuditoriaCadsusService/v5r0?WSDL&amp;type=XSD&amp;file=schema%3Af48eb4ca-f469-4eb2-b88b-c68facc2a7c4" id="certidaoantiga" namespace="http://servicos.saude.gov.br/schema/corporativo/documento/certidao/v1r1/certidaoantiga" />
  <xs:annotation>
    <xs:documentation><![CDATA[Este esquema representa o conjunto de certidões de uma pessoa física.]]></xs:documentation>
  </xs:annotation>
  <xs:element name="Certidoes" type="CertidoesType" />
  <xs:complexType name="CertidoesType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Certidao" type="certidao:CertidaoType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CertidaoAntiga" type="certidaoantiga:CertidaoAntigaType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>