Connected Services/AuditoriaCadsusService/v5r06.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://servicos.saude.gov.br/wsdl/mensageria/v5r0/usuariosusauditoria" xmlns:usuariosus="http://servicos.saude.gov.br/schema/cadsus/v5r0/usuariosus" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/wsdl/mensageria/v5r0/usuariosusauditoria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://servicoshm.saude.gov.br/cadsus/AuditoriaCadsusService/v5r0?WSDL&amp;type=XSD&amp;file=schema%3A7432815d-35d7-423b-abc9-8224e57fd7f7" id="usuariosus" namespace="http://servicos.saude.gov.br/schema/cadsus/v5r0/usuariosus" />
  <xs:annotation>
    <xs:documentation>Representa a mensagem de retorno da auditoria.</xs:documentation>
  </xs:annotation>
  <xs:element name="UsuarioSUSAuditoria" type="UsuarioSUSAuditoriaType" />
  <xs:complexType name="UsuarioSUSAuditoriaType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="UsuarioSUSAtual" type="usuariosus:UsuarioSUSType">
        <xs:annotation>
          <xs:documentation><![CDATA[Usuario SUS Atual.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioSUSAntigo" type="usuariosus:UsuarioSUSType">
        <xs:annotation>
          <xs:documentation><![CDATA[Usuario SUS Antigo.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>