Connected Services/AuditoriaCadsusService/v5r018.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://servicos.saude.gov.br/schema/corporativo/pessoafisica/v1r1/dadosnacionalidade" xmlns:pais="http://servicos.saude.gov.br/schema/corporativo/v1r2/pais" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/corporativo/pessoafisica/v1r1/dadosnacionalidade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://servicoshm.saude.gov.br/cadsus/AuditoriaCadsusService/v5r0?WSDL&amp;type=XSD&amp;file=schema%3A46eca6f4-8c5a-4ebe-a51e-c222f5d71a31" id="pais" namespace="http://servicos.saude.gov.br/schema/corporativo/v1r2/pais" />
  <xs:annotation>
    <xs:documentation><![CDATA[Este esquema representa os tipos possíveis de nacionalidade e dados relacionados.]]></xs:documentation>
  </xs:annotation>
  <xs:element name="DadosNacionalidade" type="DadosNacionalidadeType" />
  <xs:complexType name="DadosNacionalidadeType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="nacionalidade" type="NacionalidadeType">
        <xs:annotation>
          <xs:documentation><![CDATA[Define a nacionalidade do Cidadão. (B)rasileira, (E)strangeira, (P)ortuguês equiparada ou (N)aturalizada
					]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="PaisNascimento" type="pais:PaisType">
        <xs:annotation>
          <xs:documentation><![CDATA[Pais de nascimento do usuario do SUS.
					]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dataNaturalizacao" type="xs:date">
        <xs:annotation>
          <xs:documentation><![CDATA[Data de naturalizacao do cidadao.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="numeroPortariaNaturalizacao">
        <xs:annotation>
          <xs:documentation><![CDATA[Numero da portaria de naturalizacao.]]></xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dataChegadaBrasil" type="xs:date">
        <xs:annotation>
          <xs:documentation><![CDATA[Data de entrada do cidadao no Brasil.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NacionalidadeType">
    <xs:annotation>
      <xs:documentation><![CDATA[Define a nacionalidade do Cidadão. (B)rasileira, (E)strangeira, (P)ortuguês equiparada ou (N)aturalizada
			]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="B" />
      <xs:enumeration value="E" />
      <xs:enumeration value="P" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>