Connected Services/AuditoriaCadsusService/v5r035.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:orgaoemissor="http://servicos.saude.gov.br/schema/corporativo/documento/v1r2/orgaoemissor" xmlns="http://servicos.saude.gov.br/schema/corporativo/documento/v1r1/passaporte" xmlns:pais="http://servicos.saude.gov.br/schema/corporativo/v1r2/pais" elementFormDefault="qualified" targetNamespace="http://servicos.saude.gov.br/schema/corporativo/documento/v1r1/passaporte" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://servicoshm.saude.gov.br/cadsus/AuditoriaCadsusService/v5r0?WSDL&amp;type=XSD&amp;file=schema%3A46eca6f4-8c5a-4ebe-a51e-c222f5d71a31" id="pais" namespace="http://servicos.saude.gov.br/schema/corporativo/v1r2/pais">
    <xs:annotation>
      <xs:documentation><![CDATA[Importacao do metadado corporativo Pais]]></xs:documentation>
    </xs:annotation>
  </xs:import>
  <xs:annotation>
    <xs:documentation><![CDATA[Este esquema representa o Passaporte.]]></xs:documentation>
  </xs:annotation>
  <xs:element name="Passaporte" type="PassaporteType" />
  <xs:complexType name="PassaporteType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="identificador" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation><![CDATA[Código de identificação.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="numeroPassaporte">
        <xs:annotation>
          <xs:documentation><![CDATA[Numero do passaporte.]]></xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="2" />
            <xs:maxLength value="15" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Pais" type="pais:PaisType">
        <xs:annotation>
          <xs:documentation><![CDATA[Pais emissor do passaporte.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dataValidade" type="xs:date">
        <xs:annotation>
          <xs:documentation><![CDATA[Data de validade do passaporte.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dataExpedicao" type="xs:date">
        <xs:annotation>
          <xs:documentation><![CDATA[Data de expedicao do passaporte.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>